@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
.admin-login-container {
    width: 100%;
    height: auto;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    background: linear-gradient(45deg, #ffafbca4, #ffc3a0a6, #eeb1fd9f, #cfebfea2, #f8ea9baf, #ffdabcb2);
}

.admin-login-container video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.login-box {
    width: 25%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    margin: 0;
    z-index: 10;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(9px);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.35);
}

.login-box .login-box-header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #00000034;
}

.login-box .login-box-header h1 {
    font-size: 25px;
    font-weight: 450;
    color: #000;
    margin: 0;
    padding: 20px 0;
}

.login-box .login-box-body {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 20px 0 30px 0;
    margin: 0;
}

.login-box .login-box-body form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
    padding: 0 15px 0 15px;
    margin: 0;
}

.login-box .login-box-body form label {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 18px;
    font-weight: 400;
}

.login-box .login-box-body form .custom-group {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 5px;
    padding: 0;
    margin: 0;
    height: auto;
    background-color: transparent;
}

.login-box .login-box-body form .custom-group .field {
    width: 100%;
    height: auto;
    padding: 10px 35px;
    border-radius: 5px;
    color: #000;
    background-color: transparent;
    border: 1px solid #000;
    font-size: 15px;
    margin: 0;
}

.login-box .login-box-body form .custom-group .field:focus,
.login-box .login-box-body form .custom-group .field:active {
    border: 1px solid rgba(0, 0, 0, 0.288);
    outline: 2px solid #3b57d3;
    outline-offset: 1px;
}

.login-box .login-box-body form .custom-group span {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 15px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 0;
    border-right: 1px solid #000;
}

.login-box .login-box-body form .custom-group a {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font-size: 15px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 0;
    border-left: 1px solid #000;
}

.login-box .login-box-body form .custom-button {
    width: 85%;
    height: auto;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #000;
    border: 1px solid rgba(0, 0, 0, 0.288);
    color: #fff;
    cursor: pointer;
}

.login-box .login-box-body form button:hover,
.login-box .login-box-body form button:focus,
.login-box .login-box-body form button:active {
    background-color: #000000d5;
}

.login-box .login-box-body form p {
    font-size: medium;
    font-weight: 500;
    color: red;
    margin: 0;
    padding: 0;
    font-size: 13px;
}